/* 
    Document   : DTCustom.css
    Created on : Sep 12, 2013, 5:08:26 PM
    Author     : Ubaid
    Description:
        Purpose of the stylesheet follows.
*/

.logout{
    text-align: right;
    margin: 50px 0px 0px 0px;
    font-color:#2C2C2C;
    font-size: 14px;
}
.truck_images{
    margin: 30px 48px 0px;
}
.about_listing a{
    color:#F9CA22;
}
.terrain_list a{
    color: #474747;
}

.ltm_tank p {
    height: 50px;
}
.ltm_tank img{
    height: 114px
}

.about_services {
    padding: 0 20px 20px 0;
}

.contact_us_contact input.error[type="text"] {
    border:1px solid #FF0000;
}
.error_code{
    font-size: 35px;

}
.active{
    background-color: #F9CA22;

}



div.kbox {
    background-color: #DDDDDD;
    border: 1px solid #596929;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 1px #999999;

    float: left;
    height: 290px;
    margin: 8px 8px;
    position: relative;
    text-align: center;
    width: 200px;
    z-index: 3;
}


div.kbox img.productimage {
    border: medium none;
    border-radius: 5px 5px 0 0;
    height: 181px;
    position: relative;
    width: 198px;
    border-bottom:1px solid #999999;
}


div.kbox div.productdescript {
    color: #2C2C2C;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 15px;
    margin: 0;
    text-decoration: none;
    width: 194px;
}

div.kbox div.rental_price {
    background-color: #336600;
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    height: 39px;
    position: absolute;
    text-align: center;
    top: 249px;
    display: block;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    width: 198px;
    border-radius: 0 0 3px 3px;
}
div.kbox div.trading_price {
    background-color: #003333;
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    height: 39px;
    position: absolute;
    text-align: center;
    top: 249px;
    display: block;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    width: 198px;
    border-radius: 0 0 3px 3px;
}
.trading_tag_price{
    margin: -19px 0px 0px 121px;
    font-size: 14px;
    color: yellow;
}
.rental_tag_price{
    text-transform:none;
    margin: -29px 0 0 117px;
    font-size: 14px;
    line-height: 16px;
    color: yellow;
}
.division_type{
    text-transform:none;
    font-size: 22px;
    margin:7px 109px 1px 9px;
}
.productdescript a{
    color: #2C2C2C;
}
.kbox a{
    color: #2C2C2C;

}
.productdescript a:hover{
    color: #2C2C2C;
}

.nine columns,div.terrain_images{
    width: 94%;
    margin:0px 0px 0px 8px
}
.pagination{
    margin:9px 0px 2px 91px;

}
.contact_us_contact p{
     line-height: 12px;
}
.division h3{
   color:#2C2C2C;
}

.banner_text h1{
    position: relative;
}
.banner_text p{
    position: relative;
}
.about_listing a:hover {
    color:#2C2C2C;
}










.banner_dots a {
    background: -moz-linear-gradient(center top , #CCCCCC, #F3F3F3) repeat scroll 0 0 transparent;
    border-radius: 50% 50% 50% 50%;
    cursor: pointer;
}
.banner_dots a {
    border: 1px solid #F0B919;
    color: #B8C4CF;
    float: left;
    height: 10px;
    margin-left: 5px;
    text-indent: -1000px;
    width: 10px;
}

.banner_dots {
    clear: left;
    font-size: 0;
    padding: 10px;
}
.banner_dots {
    margin: 45px 0 0 130px;
    overflow: hidden;
    position: relative;
}

