/* 
    Document   : DTCustom.css
    Created on : Sep 12, 2013, 5:08:26 PM
    Author     : Ubaid
    Description:
        Purpose of the stylesheet follows.
*/

.logout{
    text-align: right;
    margin: 50px 0px 0px 0px;
    font-color:#2C2C2C;
    font-size: 14px;
}
.truck_images{
    margin: 30px 32px 0;
}
.about_listing a{
    color:#F9CA22;
}
.terrain_list a{
    color: #474747;
}

.ltm_tank p {
    height: 50px;
}
.ltm_tank img{
    height: 114px
}

.about_services {
    padding: 0 20px 20px 0;
}

.error{
    font-size: 16px;
    margin: 13px 5px 83px 83px;
}
.error_code{
    font-size: 35px;

}
