/* 
    Document   : DTCustom.css
    Created on : Sep 12, 2013, 5:08:26 PM
    Author     : Ubaid
    Description:
        Purpose of the stylesheet follows.
*/

.logout{
    text-align: right;
    margin: 50px 0px 0px 0px;
    font-color:#2C2C2C;
    font-size: 14px;
}
.truck_images{
    margin: 30px 32px 0;
}
.about_listing a{
    color:#F9CA22;
}
.terrain_list a{
    color: #474747;
}

.ltm_tank p {
    height: 50px;
}
.ltm_tank img{
    height: 114px
}

.about_services {
    padding: 0 20px 20px 0;
}

.error{
    font-size: 16px;
    margin: 13px 5px 83px 83px;
}
.error_code{
    font-size: 35px;

}
.active{
    background-color: #F9CA22;

}



div.kbox {
    background-color: #DDDDDD;
    border: 1px solid #596929;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 1px #999999;

    float: left;
    height: 290px;
    margin: 8px 8px;
    position: relative;
    text-align: center;
    width: 200px;
    z-index: 3;
}


div.kbox img.productimage {
    border: medium none;
    border-radius: 5px 5px 0 0;
    height: 181px;
    position: relative;
    width: 198px;
    border-bottom:1px solid #999999;
}


div.kbox div.productdescript {
    color: #2C2C2C;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 15px;
    margin: 0;
    text-decoration: none;
    width: 194px;
}

div.kbox div.productprice {
    background-color: #336600;
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    height: 39px;
    position: absolute;
    text-align: center;
    top: 249px;
    display: block;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    width: 198px;
    border-radius: 0 0 3px 3px;
}
.price{
    margin: -19px 0px 0px 124px;
    font-size: 14px;
    color: yellow;
}
.division_type{
    text-transform:none;
    font-size: 22px;
    margin:7px 109px 1px 9px;
}
.productdescript a{
    color: #2C2C2C;
}
.kbox a{
    color: #2C2C2C;

}
.productdescript a:hover{
    color: #2C2C2C;
}

.nine columns,div.terrain_images{
    width: 94%;
    margin:0px 0px 0px 8px
}
.pagination{
    margin:9px 0px 2px 91px;

}


